<!DOCTYPE html>
<html>
<head>
	<title>Dasboard pegawai</title>
	<script type="text/javascript" src="<?php echo base_url('asset/bootstrap/js/bootstrap.js');?>"></script>
	<link href="<?php echo base_url('asset/bootstrap/css/bootstrap.min.css');?>" rel="stylesheet">
	<link href="<?php echo base_url('asset/bootstrap/css/bootstrap-theme.min.css');?>" rel="stylesheet">

 	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 	 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 	<link rel="stylesheet" type="text/css" href="<?php echo base_url('asset/css/css.css');?>">
 	  <link href="<?php echo base_url('asset/font-awesome-4.7.0/css/font-awesome.min.css');?>" rel="stylesheet">
</head>
<body>

<div class="container" style="margin-left:0px">
	<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
	<div class="container-fluid">
		<div class="list-group">
  <a class="list-group-item " href="#"><i class="fa fa-home fa-fw" aria-hidden="true"></i>&nbsp; Home</a>
  <a class="list-group-item" href="#"><i class="fa fa-book fa-fw" aria-hidden="true"></i>&nbsp; Library</a>
  <a class="list-group-item" href="#"><i class="fa fa-pencil fa-fw" aria-hidden="true"></i>&nbsp; Applications</a>
  <a class="list-group-item" href="#"><i class="fa fa-cog fa-fw" aria-hidden="true"></i>&nbsp; Settings</a>
</div></div>
	
		
	</div>
	<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
		
	</div>
</div>

</body>
</html>